.about-title {
  margin: 4rem;
  margin-right: auto;
  margin-left: auto;
  background-color: #065c76;
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.about-title h1 {
  font-weight: 300;
  letter-spacing: 1px;
}

/* media query for smartphones */
@media (max-width: 600px) {
  .about-cards-container {
    padding: 0 !important;
    background-color: white !important;
  }
}

.hoverable {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  cursor: pointer;
}

.hoverable:hover,
.hoverable:focus,
.hoverable:active {
  transform: scale(1.1);
}
