.cardImg {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

@media (min-width: 100px) {
  .cardImg {
    height: 80vw;
  }
}

@media (min-width: 768px) {
  .cardImg {
    height: 80vw;
  }
}

@media (min-width: 992px) {
  .cardImg {
    height: 40vw;
  }
}

@media (min-width: 1200px) {
  .cardImg {
    height: 25vw;
  }
}

.title-container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
  background-color: #065c76;
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 5px;
  text-align: center;
}

.title-text {
  font-weight: 400;
  letter-spacing: 1px;
}
