@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap");

.title-container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: #065c76;
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 5px;
}

.title-text {
  font-family: "Lora", serif;
  font-weight: 300;
  font-style: italic;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: auto auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em; /* Adjust as needed */
  position: relative; /* Add position relative to contain the blinking caret */
  animation: typing 4s steps(40, end);
}

.typewriter::after {
  content: ""; /* Create a pseudo-element for the caret */
  display: inline-block;
  vertical-align: middle;
  width: 0.15em; /* Width of the caret */
  height: 1em; /* Height of the caret */
  background-color: rgb(255, 255, 255); /* Color of the caret */
  animation: blink-caret 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    opacity: 0; /* Hide the caret */
  }
  50% {
    opacity: 1; /* Show the caret */
  }
}

.mapsContainer {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

/* media query for smartphones */
@media (max-width: 600px) {
  .mapsContainer {
    border-radius: 0px !important;
  }
}
